<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexaoComBanco"
			connectionString = "Data Source=INVENT020\SQLEXPRESS;Initial Catalog=Cod3rsGrowthBD;Persist Security Info=True;User ID=sa;Password=sap@123;Trust Server Certificate=True"
			providerName     = "System.Data.SqlClient" />
		<add name="ConexaoComBancoTeste"
			 connectionString= "Data Source=INVENT020\SQLEXPRESS;Initial Catalog=Cod3rsGrowthTesteBD;Persist Security Info=True;User ID=sa;Password=sap@123;Trust Server Certificate=True"
			 providerName    = "System.Data.SqlClient "/>
	</connectionStrings>
</configuration>
